.b-top
	background-color: #fff
	position: fixed
	z-index: 2
	top: 0
	left: 0
	width: 100%
	transform: translateY(-100%)
	transition: all .2s ease-in
	&__pic,
	&__title,
	&__price,
	&__discount,
	&__timer,
	&__btn
		display: inline-block
		vertical-align: middle
	&__pic
		width: 60px
		border: 3px solid #CDDDE6
		border-radius: 3px
		margin-right: 14px
	&__title
		font-size: 20px
		font-weight: 700
		max-width: 400px
		margin-right: 30px
	&__price
		font-size: 60px
		font-weight: 700
	&__timer
		margin: 0 35px
		.b-timer
			&__num
				font-size: 40px
			&__section
				&--colon
					font-size: 35px
	&__discount
		margin-left: 17px
		font-size: 12px
		b
			display: block
			background: #FF0000;
			border-radius: 3px
			color: #fff
			line-height: 27px
			font-weight: 300
			font-size: 18px
			text-align: center
			margin-top: 1px
	&.showed
		transform: translateY(0)
		box-shadow: 0px 5px 50px #CDDDE6

.b-main
	&__inner
		background-color: #fff
		box-shadow: 0 5px 15px #CDDDE6
		border-radius: 5px

.b-tabs
	background-color: #F6F8F9
	border: 1px solid #CDDDE6
	border-left: none
	border-right: none
	font-size: 0
	&__item
		display: inline-block
		border: none
		background-color: #F1F4F6
		border-right: 1px solid #CDDDE6
		font-size: 18px
		color: #797A7B
		padding: 18px 66px
		cursor: pointer
		&.active
			color: #000
			background-color: #fff

.b-content
	&__part
		display: none
		&:first-of-type
			display: block
	&__wrap
		@extend %grid
		direction: rtl
		padding: 45px 30px
	&__pics,
	&__main
		@extend %part
		direction: ltr
	&__pics
		width: 400px
		padding-left: 40px