@import url(slick.css);
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.b-content__mark::before, .b-metrics__star::before, .b-metrics__likes::before, .b-metrics__dislikes::before, .b-popup__close::before, .b-formReview__stars label::before, .b-formReview__stars label::after, .b-formReview__fileName::after, .b-counter__minus::after, .b-counter__plus::after, .b-btn--buy .b-btn__icon::before, .b-buyerInfo__title::before, .b-buyerInfo__item::before, .b-gallery__next::after, .b-thumbs__item--video::after {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-size: 14px;
  background-color: #E5E5E5;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.b-content__wrap, .b-feedback, .b-metrics__item, .b-formReview__item, .b-product, .b-info__timer, .b-coupon__wrapper, .b-buyerInfo__inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.b-content__pics, .b-content__main, .b-feedback__section, .b-metrics__name, .b-metrics__stars, .b-metrics__thumbs, .b-formReview__label, .b-formReview__wrap, .b-product__gallery, .b-product__info, .b-timer__text, .b-timer__nums, .b-coupon__left, .b-coupon__right, .b-buyerInfo__title, .b-buyerInfo__list {
  display: table-cell;
  vertical-align: top;
}

.b-header {
  background-color: #fff;
  text-align: center;
  padding: 8px 0;
}

.b-header__icon, .b-header__title {
  display: inline-block;
  vertical-align: middle;
}

.b-header__title {
  font-family: "Quicksand", sans-serif;
  line-height: 1.2;
  font-size: 38px;
  margin: 0;
}

.b-title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  line-height: 1.25;
  margin: 30px 0 23px;
}

.b-top {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  padding: 8px 0;
}

.b-top__pic, .b-top__title, .b-top__price, .b-top__discount, .b-top__timer, .b-top__btn {
  display: inline-block;
  vertical-align: middle;
}

.b-top__pic {
  width: 60px;
  border: 3px solid #CDDDE6;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 14px;
}

.b-top__title {
  font-size: 20px;
  font-weight: 700;
  max-width: 400px;
  margin: 0;
  margin-right: 30px;
}

.b-top__price {
  font-size: 60px;
  font-weight: 700;
}

.b-top__timer {
  margin: 0 35px;
}

.b-top__timer .b-timer__num {
  font-size: 40px;
}

.b-top__timer .b-timer__section--colon {
  font-size: 35px;
}

.b-top__discount {
  margin-left: 17px;
  font-size: 12px;
}

.b-top__discount b {
  display: block;
  background: #FF0000;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  line-height: 27px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin-top: 1px;
}

.b-top.showed {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0px 5px 50px #CDDDE6;
  box-shadow: 0px 5px 50px #CDDDE6;
}

.b-main__inner {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px #CDDDE6;
  box-shadow: 0 5px 15px #CDDDE6;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.b-tabs {
  background-color: #F6F8F9;
  border: 1px solid #CDDDE6;
  border-left: none;
  border-right: none;
  font-size: 0;
}

.b-tabs__item {
  display: inline-block;
  border: none;
  background-color: #F1F4F6;
  border-right: 1px solid #CDDDE6;
  font-size: 18px;
  color: #797A7B;
  padding: 18px 66px;
  cursor: pointer;
}

.b-tabs__item.active {
  color: #000;
  background-color: #fff;
}

.b-content__part {
  display: none;
}

.b-content__part:first-of-type {
  display: block;
}

.b-content__wrap {
  direction: rtl;
  padding: 45px 30px;
}

.b-content__pics, .b-content__main {
  direction: ltr;
}

.b-content__pics {
  width: 400px;
  padding-left: 40px;
}

.b-content__section + .b-content__section {
  margin-top: 35px;
}

.b-content__title {
  display: none;
  font-size: 20px;
  margin: 0 0 15px;
}

.b-content__caption {
  font-size: 18px;
  margin: 0 0 15px;
}

.b-content__text {
  font-size: 18px;
  line-height: 1.5;
  margin: 10px 0;
}

.b-content__text a {
  color: #0091FF;
}

.b-content__text a:hover {
  text-decoration: none;
}

.b-content__list {
  margin: 15px 0;
  font-size: 18px;
}

.b-content__list li {
  padding-left: 22px;
  position: relative;
}

.b-content__list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 12px;
  height: 12px;
  background-color: #CDDDE5;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.b-content__list li + li {
  margin-top: 15px;
}

.b-content__marks {
  margin: 15px 0;
}

.b-content__mark {
  display: inline-block;
  font-size: 18px;
  padding-left: 25px;
  position: relative;
}

.b-content__mark::before {
  content: '\e905';
  font-size: 18px;
  color: #005E8E;
  position: absolute;
  left: 0;
  top: 1px;
}

.b-content__mark + .b-content__mark {
  margin-left: 50px;
}

.b-table {
  width: 100%;
  table-layout: fixed;
  display: table;
  background: #EDF1F2;
  border-collapse: collapse;
}

.b-table__tr {
  display: table-row;
}

.b-table__td {
  display: table-cell;
  font-size: 16px;
  padding: 20px;
  border: 1px solid #CDDDE6;
}

.b-table__caption {
  display: table-caption;
  border: 1px solid #CDDDE6;
  border-bottom: none;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 20px;
  background: #EDF1F2;
}

.b-comments {
  font-size: 16px;
}

.b-comments__item {
  border-bottom: 1px solid #CDDDE5;
  padding-bottom: 20px;
}

.b-comments__item + .b-comments__item {
  margin-top: 20px;
}

.b-comments__btn {
  display: table;
  margin: 30px auto 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding: 9px 20px;
  background-color: #CDDDE6;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: none;
  width: 100%;
  max-width: 200px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.b-comments__btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.b-feedback__section--profile {
  width: 80px;
}

.b-feedback__section--metrics {
  width: 240px;
}

.b-feedback__ava {
  display: block;
  width: 60px;
}

.b-feedback__name {
  font-size: 16px;
  color: #0091FF;
  font-weight: 700;
  margin: 6px 0 0;
}

.b-feedback__lead {
  font-weight: 700;
  margin: 0 0 8px;
}

.b-feedback__text {
  margin: 0;
}

.b-feedback__attachments {
  margin-top: 12px;
}

.b-feedback__date {
  margin: 10px 0 0;
  font-size: 12px;
  color: #808080;
}

.b-feedback__time {
  display: inline-block;
  margin-left: 5px;
}

.b-metrics__item + .b-metrics__item {
  margin-top: 10px;
}

.b-metrics__voites {
  margin-top: 20px;
}

.b-metrics__name {
  text-align: right;
  width: 100px;
}

.b-metrics__stars, .b-metrics__thumbs {
  padding-left: 15px;
}

.b-metrics__star::before {
  content: '\e90a';
  color: #CDDDE5;
}

.b-metrics__star + .b-metrics__star {
  margin-left: 3px;
}

.b-metrics__star.selected::before {
  color: #FFD400;
}

.b-metrics__thumbs {
  color: #808080;
}

.b-metrics__likes::before, .b-metrics__dislikes::before {
  content: '\e909';
  display: inline-block;
  margin-right: 4px;
}

.b-metrics__dislikes {
  margin-left: 13px;
}

.b-metrics__dislikes::before {
  -webkit-transform: rotate(180deg) scale(-1, 1);
  -ms-transform: rotate(180deg) scale(-1, 1);
  transform: rotate(180deg) scale(-1, 1);
  position: relative;
  top: 3px;
}

.b-footer {
  margin: 50px 0;
}

.b-footer__text {
  text-align: center;
  font-size: 16px;
  margin: 0;
}

.b-footer__text a {
  color: #0091FF;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
}

.b-popup {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}

.b-popup__inner {
  display: table-cell;
  vertical-align: top;
  position: relative;
  z-index: 2;
  padding-top: 150px;
}

.b-popup__wrap {
  max-width: 375px;
  margin: 0 auto;
  background-color: #EDF1F2;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.b-popup__caption {
  background-color: #fff;
  margin: 0;
  padding: 18px 50px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.b-popup__tail {
  padding: 30px;
}

.b-popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-color: #EDF1F2;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: none;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

.b-popup__close::before {
  content: '\e90b';
  color: #777;
  line-height: 20px;
}

.b-popup.showed {
  display: table;
  -webkit-animation: popupIn .3s both;
  animation: popupIn .3s both;
}

.b-formReview__stars input {
  margin-right: -100%;
  opacity: 0;
}

.b-formReview__stars label {
  display: block;
  float: right;
  position: relative;
  font-size: 0;
  margin: 0 5px;
  cursor: pointer;
}

.b-formReview__stars label::before {
  content: '\e90a';
  color: #CDDDE5;
  font-size: 20px;
}

.b-formReview__stars label::after {
  content: '\e90a';
  color: #FFD400;
  font-size: 20px;
  display: block;
  opacity: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  position: absolute;
  top: 0;
}

.b-formReview__stars label:hover::after,
.b-formReview__stars label:hover ~ label::after {
  opacity: 1;
}

.b-formReview__stars:not(:hover) > :checked ~ label::after {
  opacity: 1;
}

.b-formReview__fileField {
  display: none;
}

.b-formReview__item {
  padding: 0 15px;
  min-height: 32px;
}

.b-formReview__item + .b-formReview__item {
  margin-top: 10px;
}

.b-formReview__label {
  text-align: right;
  font-size: 16px;
}

.b-formReview__wrap {
  padding-left: 20px;
  width: 183px;
}

.b-formReview__field {
  background-color: #fff;
  color: #0091FF;
  width: 100%;
  border: none;
  padding: 7px 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
}

.b-formReview__addImg {
  font-size: 18px;
  text-transform: uppercase;
  background-color: #CDDDE5;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  max-width: 130px;
}

.b-formReview__fileName {
  font-size: 16px;
  color: #777979;
  word-wrap: break-word;
  padding-right: 30px;
  position: relative;
  cursor: pointer;
  margin: 0;
}

.b-formReview__fileName::after {
  content: '\e90b';
  position: absolute;
  top: 2px;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: #fff;
  color: #C4C4C4;
  text-align: center;
  font-size: 9px;
  line-height: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.b-formReview__fileName + .b-formReview__fileName {
  margin-top: 10px;
}

.b-formReview__fileName + .b-formReview__addImg {
  margin-top: 10px;
}

.b-formReview__footer {
  border-top: 1px solid #CDDDE5;
  margin-top: 30px;
  text-align: center;
}

.b-formReview__btn {
  margin-top: 30px;
}

.b-product {
  padding: 30px 30px 0;
  direction: rtl;
}

.b-product__gallery, .b-product__info {
  direction: ltr;
}

.b-product__gallery {
  width: 640px;
}

.b-product__info {
  padding-left: 30px;
}

.b-info__cost {
  margin-bottom: 30px;
}

.b-info__timer, .b-info__coupon, .b-info__colors, .b-info__quantity {
  margin-bottom: 25px;
}

.b-info__timer {
  padding: 12px 25px;
  border: 2px solid #CDDDE6;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.b-cost__label {
  display: inline-block;
  font-size: 18px;
  margin: 0 20px 0 0;
}

.b-cost__prices {
  display: inline-block;
}

.b-cost__oldprice {
  display: inline-block;
  font-size: 30px;
  color: #C4C4C4;
  text-decoration: line-through;
  margin-right: 20px;
}

.b-cost__newprice {
  display: inline-block;
  font-size: 60px;
  color: #000;
  font-weight: 700;
}

.b-cost__discount {
  display: inline-block;
  margin-left: 17px;
  font-size: 12px;
  vertical-align: bottom;
  position: relative;
  bottom: 16px;
}

.b-cost__discount b {
  display: block;
  background: #FF0000;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  line-height: 27px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin-top: 1px;
}

.b-timer__text {
  font-size: 18px;
  line-height: 1.3;
  width: 130px;
  margin: 0;
  vertical-align: middle;
  text-align: left;
}

.b-timer__text b {
  display: block;
  color: #ff0000;
}

.b-timer__nums {
  line-height: 1;
  text-align: right;
}

.b-timer__section {
  display: inline-block;
  text-align: center;
}

.b-timer__section--colon {
  font-size: 50px;
  color: #FF0000;
  margin: 0 8px;
  vertical-align: top;
}

.b-timer__num {
  color: #ff0000;
  font-size: 50px;
  font-weight: 400;
}

.b-timer__sign {
  display: block;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 400;
  opacity: .5;
}

.b-coupon__link {
  color: #0091FF;
  font-size: 16px;
  margin: 0 0 10px;
}

.b-coupon__wrapper {
  background: #EDF1F2;
  border: 2px dashed #CDDDE6;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 18px;
}

.b-coupon__left, .b-coupon__right {
  vertical-align: middle;
}

.b-coupon__label {
  font-size: 18px;
  margin: 0;
}

.b-coupon__name {
  margin-left: 10px;
}

.b-coupon__status {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: 700;
}

.b-coupon__count {
  width: 200px;
  padding: 10px 22px;
  margin: 0;
  color: #005E8E;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.b-colors__label {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  margin: 0 20px 0 0;
}

.b-colors__list {
  display: inline-block;
}

.b-colors__item {
  padding-left: 60px;
  position: relative;
  cursor: pointer;
  line-height: 25px;
  color: #C4C4C4;
}

.b-colors__item::after, .b-colors__item::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.b-colors__item::after {
  left: 25px;
  width: 25px;
  height: 25px;
  border: 5px solid;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.b-colors__item::before {
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #EDF1F2;
  border: 4px solid #EDF1F2;
}

.b-colors__item.active {
  color: #000;
}

.b-colors__item.active::after {
  border-width: 12.5px;
}

.b-colors__item.active::before {
  background-color: #000;
}

.b-colors__item + .b-colors__item {
  margin-left: 30px;
}

.b-colors__item--1::after {
  color: #0091FF;
}

.b-colors__item--2::after {
  color: #FF0000;
}

.b-colors__item--3::after {
  color: #2FCF8C;
}

.b-colors__item input[type=radio] {
  display: none;
}

.b-quantity__label {
  font-size: 18px;
  margin: 0 20px 0 0;
  display: inline-block;
}

.b-quantity__counter {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.b-quantity__left {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
}

.b-quantity__left strong {
  color: #ff0000;
}

.b-counter {
  background-color: #EDF1F2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  font-size: 0;
}

.b-counter__minus, .b-counter__plus {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  border: none;
  cursor: pointer;
  color: #C4C4C4;
}

.b-counter__minus::after, .b-counter__plus::after {
  font-size: 10px;
  line-height: 20px;
}

.b-counter__minus:hover, .b-counter__plus:hover {
  color: #000;
}

.b-counter__minus::after {
  content: '\e907';
}

.b-counter__plus::after {
  content: '\e908';
}

.b-counter__count {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 700;
  margin: 0 7px;
  width: 28px;
  text-align: center;
  background-color: transparent;
  border: none;
}

.b-btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  height: 60px;
  cursor: pointer;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.b-btn + .b-btn {
  margin-left: 20px;
}

.b-btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.b-btn--buy {
  background-color: #FFD500;
  border: none;
  font-size: 22px;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 32px;
  padding-right: 32px;
}

.b-btn--buy .b-btn__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.b-btn--buy .b-btn__icon::before {
  content: '\e902';
}

.b-btn--buy .b-btn__text {
  display: inline-block;
  vertical-align: middle;
}

.b-btn--paypal {
  font-size: 12px;
  border: 2px solid #0091FF;
  background-color: #EDF1F2;
  padding: 0 35px;
}

.b-btn--paypal .b-btn__icon {
  display: block;
  width: 110px;
  height: 29px;
  margin-top: 2px;
  background-image: url(../img/icon-paypal.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
}

.b-buyerInfo {
  padding: 40px 30px;
}

.b-buyerInfo__inner {
  background-color: #EDF1F2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 22px 75px;
}

.b-buyerInfo__title {
  vertical-align: middle;
  width: 260px;
  padding-left: 77px;
  font-size: 22px;
  color: #005E8E;
  font-weight: 700;
  position: relative;
}

.b-buyerInfo__title::before {
  content: '\e903';
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.b-buyerInfo__list {
  vertical-align: middle;
}

.b-buyerInfo__item {
  float: left;
  line-height: 1.7;
  font-size: 18px;
  margin: 0;
  padding-left: 38px;
  position: relative;
}

.b-buyerInfo__item:nth-child(odd) {
  width: 60%;
}

.b-buyerInfo__item--1::before {
  content: '\e905';
}

.b-buyerInfo__item--3::before {
  content: '\e904';
}

.b-buyerInfo__item--4::before {
  content: '\e906';
}

.b-buyerInfo__item::before {
  font-size: 18px;
  line-height: 1;
  color: #005E8E;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
}

.b-gallery__item {
  height: 360px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  font-size: 0;
}

.b-gallery__wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.b-gallery__wrap iframe,
.b-gallery__wrap object,
.b-gallery__wrap embed,
.b-gallery__wrap video {
  width: 100%;
  height: 100%;
}

.b-gallery__thumbs {
  margin-top: 20px;
  padding-right: 80px;
  position: relative;
}

.b-gallery__next {
  border: none;
  background-color: transparent;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -7.5px;
  text-align: center;
  padding: 0;
  cursor: pointer;
  color: #CDDDE5;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.b-gallery__next::after {
  content: '\e900';
  font-size: 16px;
}

.b-gallery__next:hover {
  color: #000;
}

.b-thumbs__item {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #CDDDE6;
  border: 3px solid;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position: relative;
  cursor: pointer;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.b-thumbs__item + .b-thumbs__item {
  margin-left: 20px;
}

.b-thumbs__item img {
  -o-object-fit: cover;
  object-fit: cover;
}

.b-thumbs__item--video {
  width: 180px;
}

.b-thumbs__item--video::after {
  content: '\e901';
  font-size: 16px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.b-thumbs__item:hover {
  color: #686868;
}

.b-thumbs__item.slick-current {
  color: #000;
}

.b-thumbs__item.slick-current::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #C4C4C4;
  opacity: .5;
}

@-webkit-keyframes popupIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes popupIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes applied {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes applied {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1199px) {
  .b-product__gallery {
    width: 50%;
  }
  .b-gallery__item {
    height: 310px;
  }
  .b-top {
    text-align: center;
  }
  .b-top__pic {
    display: none;
  }
  .b-top__title {
    text-align: left;
  }
}

@media only screen and (max-width: 1099px) {
  .b-product__gallery {
    width: 47%;
  }
  .b-gallery__item {
    height: 235px;
  }
  .b-thumbs__item {
    width: 50px;
    height: 50px;
  }
  .b-thumbs__item--video {
    width: 90px;
  }
  .b-thumbs__item + .b-thumbs__item {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    max-width: 320px;
    padding: 0 10px;
  }
  .b-top {
    padding: 7px 0;
  }
  .b-top__pic, .b-top__price, .b-top__discount, .b-top__timer {
    display: none;
  }
  .b-top__title {
    width: 150px;
    margin: 0 15px 0 0;
    font-size: 12px;
  }
  .b-top.showed {
    -webkit-box-shadow: 0px 5px 5px rgba(0, 94, 142, 0.3);
    box-shadow: 0px 5px 5px rgba(0, 94, 142, 0.3);
  }
  .b-product {
    padding: 15px 10px 0;
    display: block;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 15px #CDDDE6;
    box-shadow: 0 5px 15px #CDDDE6;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
  }
  .b-product__gallery, .b-product__info {
    display: block;
  }
  .b-product__info {
    padding-left: 0;
  }
  .b-product__gallery {
    width: auto;
    margin-top: 25px;
  }
  .b-header__title {
    font-size: 20px;
  }
  .b-header__icon {
    width: 30px;
    margin-right: 5px;
  }
  .b-title {
    text-align: center;
  }
  .b-title h1 {
    font-size: 20px;
    margin: 12px 0 9px;
  }
  .b-info__cost, .b-info__timer, .b-info__coupon, .b-info__colors, .b-info__quantity {
    margin-bottom: 15px;
  }
  .b-info__timer {
    padding: 9px;
  }
  .b-info__buttons {
    font-size: 0;
  }
  .b-info__btn {
    width: 48%;
  }
  .b-info__btn + .b-info__btn {
    margin-left: 4%;
  }
  .b-cost__label {
    font-size: 14px;
    margin-right: 9px;
  }
  .b-cost__oldprice {
    font-size: 16px;
    margin-right: 10px;
  }
  .b-cost__newprice {
    font-size: 24px;
  }
  .b-cost__discount {
    font-size: 0;
    bottom: 5px;
    width: 42px;
    margin-left: 9px;
  }
  .b-cost__discount b {
    font-size: 16px;
    line-height: 22px;
  }
  .b-timer__text {
    font-size: 14px;
    width: 100px;
    vertical-align: middle;
  }
  .b-timer__nums {
    vertical-align: middle;
  }
  .b-timer__num {
    font-size: 30px;
  }
  .b-timer__section--colon {
    font-size: 30px;
    margin: 0 2px;
  }
  .b-coupon__link {
    font-size: 14px;
    margin: 0 0 7px;
  }
  .b-coupon__wrapper {
    padding: 15px;
  }
  .b-coupon__right {
    width: 100px;
  }
  .b-coupon__label {
    font-size: 14px;
  }
  .b-coupon__status {
    font-size: 14px;
    margin: 0;
  }
  .b-coupon__count {
    width: auto;
    padding: 8px;
    font-size: 14px;
  }
  .b-colors__label {
    font-size: 14px;
    margin-right: 9px;
  }
  .b-colors__list {
    vertical-align: top;
  }
  .b-colors__item {
    display: block;
  }
  .b-colors__item + .b-colors__item {
    margin-left: 0;
    margin-top: 12px;
  }
  .b-quantity__label {
    font-size: 14px;
    margin-right: 9px;
  }
  .b-quantity__left {
    font-size: 14px;
    width: 100px;
    vertical-align: middle;
  }
  .b-counter {
    padding: 5px;
  }
  .b-counter__count {
    font-size: 14px;
  }
  .b-btn {
    height: 50px;
  }
  .b-btn--buy {
    font-size: 18px;
    padding: 14px;
  }
  .b-btn--buy .b-btn__icon {
    display: none;
  }
  .b-btn--paypal {
    padding-left: 14px;
    padding-right: 14px;
  }
  .b-btn--paypal .b-btn__icon {
    width: 77px;
    height: 20px;
    margin: 2px auto 0;
  }
  .b-gallery__item {
    height: auto;
  }
  .b-gallery__thumbs {
    margin-top: 10px;
    padding-right: 30px;
  }
  .b-gallery__next {
    right: 5px;
  }
  .b-thumbs__item {
    border-width: 2px;
  }
  .b-thumbs__item + .b-thumbs__item {
    margin-left: 10px;
  }
  .b-buyerInfo {
    padding: 15px 10px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 15px #CDDDE6;
    box-shadow: 0 5px 15px #CDDDE6;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 15px;
  }
  .b-buyerInfo__inner {
    padding: 15px 15px 0;
    display: block;
  }
  .b-buyerInfo__title {
    display: block;
    width: auto;
    padding-left: 40px;
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 30px;
  }
  .b-buyerInfo__title::before {
    font-size: 30px;
  }
  .b-buyerInfo__title br {
    display: none;
  }
  .b-buyerInfo__list {
    display: block;
    overflow: auto;
  }
  .b-buyerInfo__item {
    display: block;
    width: 50%;
    min-height: 70px;
    font-size: 14px;
    line-height: normal;
    margin: 5px 0;
    padding-left: 24px;
  }
  .b-buyerInfo__item:nth-child(odd) {
    width: 47%;
    margin-right: 3%;
  }
  .b-buyerInfo__item::before {
    font-size: 14px;
    margin-top: 0;
    top: 1px;
  }
  .b-main__inner {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .b-tabs {
    display: none;
  }
  .b-content__part {
    display: block;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 15px #CDDDE6;
    box-shadow: 0 5px 15px #CDDDE6;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .b-content__part + .b-content__part {
    margin-top: 15px;
  }
  .b-content__wrap {
    padding: 15px 10px;
    display: block;
  }
  .b-content__pics {
    display: block;
    width: auto;
    padding-left: 0;
  }
  .b-content__main {
    display: block;
  }
  .b-content__title {
    display: block;
    text-align: center;
  }
  .b-content__caption {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .b-content__list {
    font-size: 16px;
  }
  .b-content__list li + li {
    margin-top: 12px;
  }
  .b-content__section + .b-content__section {
    margin-top: 20px;
  }
  .b-content__text {
    font-size: 16px;
    line-height: 1.3;
  }
  .b-content__mark {
    font-size: 16px;
    display: block;
  }
  .b-content__mark + .b-content__mark {
    margin-left: 0;
    margin-top: 10px;
  }
  .b-table__td {
    padding: 10px;
  }
  .b-table__caption {
    font-size: 16px;
    padding: 10px;
  }
  .b-table--columnOnMobile {
    display: block;
    border-bottom: 1px solid #CDDDE6;
  }
  .b-table--columnOnMobile .b-table__tr {
    display: block;
  }
  .b-table--columnOnMobile .b-table__td {
    display: block;
    border-bottom: 0;
  }
  .b-comments__item {
    padding-bottom: 15px;
  }
  .b-comments__item + .b-comments__item {
    margin-top: 15px;
  }
  .b-comments__item:nth-child(-n+2) {
    display: none;
  }
  .b-comments__btn {
    margin: 15px auto 0;
  }
  .b-feedback {
    display: block;
  }
  .b-feedback__section {
    display: block;
  }
  .b-feedback__section--profile, .b-feedback__section--metrics {
    width: auto;
  }
  .b-feedback__section--tail {
    margin-top: 18px;
  }
  .b-feedback__ava {
    display: inline-block;
    width: 40px;
  }
  .b-feedback__name {
    font-size: 14px;
    display: inline-block;
    margin: 0 0 0 15px;
  }
  .b-feedback__text {
    font-size: 14px;
  }
  .b-metrics {
    font-size: 0;
  }
  .b-metrics__item {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    margin: 12px 0;
  }
  .b-metrics__item + .b-metrics__item {
    margin-top: 0;
  }
  .b-metrics__name {
    text-align: left;
    display: inline-block;
    margin: 0 0 5px;
    width: auto;
  }
  .b-metrics__stars {
    padding-left: 0;
  }
  .b-metrics__star {
    font-size: 16px;
  }
  .b-metrics__voites {
    font-size: 14px;
    margin-top: 0;
  }
  .b-metrics__thumbs {
    display: inline-block;
    padding-left: 20px;
  }
  .b-popup__inner {
    padding: 80px 10px 10px;
  }
  .b-popup__wrap {
    max-width: 300px;
  }
  .b-popup__tail {
    padding: 15px 0;
  }
  .b-popup__caption {
    font-size: 20px;
    padding: 8px 35px;
  }
  .b-popup__close {
    top: 11px;
    right: 8px;
  }
  .b-formReview__item {
    padding-left: 10px;
    padding-right: 15px;
    min-height: 25px;
  }
  .b-formReview__footer {
    margin-top: 15px;
  }
  .b-formReview__btn {
    width: 100%;
    max-width: 200px;
    margin-top: 15px;
  }
  .hide-on-mobile {
    display: none;
  }
}
