doctype html
html

	head
		meta(charset='utf-8')
		title ProductStarter
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:400,700")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="http://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.b-top
				.container
					.b-top__inner
						img.b-top__pic(src="img/product.jpg", alt="")
						p.b-top__title Wifi Sport Action Camera (4k 25fps, 1080p 60fps, 720p 120fps) New version
						span.b-top__price $79
						p.b-top__discount Discount #[b 50%]
						.b-top__timer.b-timer
							.b-timer__nums
								span.b-timer__section #[b.b-timer__num.b-timer__num--hours 00]  #[b.b-timer__sign Hour] 
								span.b-timer__section.b-timer__section--colon :
								span.b-timer__section #[b.b-timer__num.b-timer__num--mins 15]  #[b.b-timer__sign minutes] 
								span.b-timer__section.b-timer__section--colon :
								span.b-timer__section #[b.b-timer__num.b-timer__num--sec 00]  #[b.b-timer__sign Seconds]
						button.b-top__btn.b-btn.b-btn--buy
							span.b-btn__icon
							span.b-btn__text Buy it now
			.b-header
				img.b-header__icon(src="img/logo.png", alt="")
				p.b-header__title #[b Product]Starter
			.b-title
				.container
					h1 Wifi Sport Action Camera (4k 25fps, 1080p 60fps, 720p 120fps) New version
			.b-main
				.container
					.b-main__inner
						.b-product
							.b-product__info
								form.b-info
									.b-info__cost
										.b-cost
											p.b-cost__label Total price:
											.b-cost__prices
												span.b-cost__oldprice $199 
												span.b-cost__newprice $79
											span.b-cost__discount Discount #[b -50%]
									.b-info__timer.b-timer
										p.b-timer__text #[b Attention!] The discount wll expire after:
										.b-timer__nums
											span.b-timer__section #[b.b-timer__num.b-timer__num--hours 00]  #[b.b-timer__sign Hour] 
											span.b-timer__section.b-timer__section--colon :
											span.b-timer__section #[b.b-timer__num.b-timer__num--mins 15]  #[b.b-timer__sign minutes] 
											span.b-timer__section.b-timer__section--colon :
											span.b-timer__section #[b.b-timer__num.b-timer__num--sec 00]  #[b.b-timer__sign Seconds] 
									.b-info__coupon.b-coupon
										p.b-coupon__link Got a coupon code?
										.b-coupon__wrapper
											.b-coupon__left
												p.b-coupon__label Coupon: #[b.b-coupon__name lucky40]
												p.b-coupon__status Free shipping applied
											.b-coupon__right
												p.b-coupon__count shipping $0
									.b-info__colors.b-colors
										p.b-colors__label Color:
										.b-colors__list
											label.b-colors__item.b-colors__item--1.active(for="color1") Blue
												input(type="radio", id="color1")
											label.b-colors__item.b-colors__item--2(for="color2") Red
												input(type="radio", id="color2")
											label.b-colors__item.b-colors__item--3(for="color3") Green
												input(type="radio", id="color3")
									.b-info__quantity.b-quantity
										p.b-quantity__label Quantity: 
										.b-quantity__counter
											.b-counter
												button.b-counter__minus
												input(type="text", value="1", data-max="11").b-counter__count
												button.b-counter__plus
										b.b-quantity__left  Only #[strong 11 items] left in stock
									.b-info__buttons
										button.b-info__btn.b-btn.b-btn--buy
											span.b-btn__icon
											span.b-btn__text Buy it now
										button.b-info__btn.b-btn.b-btn--paypal 
											span.b-btn__text Check out with
											span.b-btn__icon
							.b-product__gallery
								.b-gallery
									.b-gallery__list
										.b-gallery__item
											.b-gallery__wrap
												video.avid(controls, controlsList='nodownload', poster='./img/gallery-img-1.jpg', data-url='/152/videos/1536530400/ekenh9es')  
										.b-gallery__item
											.b-gallery__wrap
												img(src="img/gallery-img-2.jpg", alt="")
										.b-gallery__item
											.b-gallery__wrap
												img(src="img/gallery-img-3.jpg", alt="")
										.b-gallery__item
											.b-gallery__wrap
												img(src="img/gallery-img-4.jpg", alt="")
									.b-gallery__thumbs
										.b-thumbs
											.b-thumbs__item.b-thumbs__item--video #[img(src="img/gallery-preview-1.jpg", alt="")]
											.b-thumbs__item #[img(src="img/gallery-preview-2.jpg", alt="")]
											.b-thumbs__item #[img(src="img/gallery-preview-3.jpg", alt="")]
											.b-thumbs__item #[img(src="img/gallery-preview-4.jpg", alt="")]
										button.b-gallery__next
						.b-buyerInfo
							.b-buyerInfo__inner
								p.b-buyerInfo__title Buyer #[br] Protection
								.b-buyerInfo__list
									p.b-buyerInfo__item.b-buyerInfo__item--1 #[b Full Refund] if you don`t receive your order
									p.b-buyerInfo__item.b-buyerInfo__item--3 #[b 100%] Money Back Guarantee
									p.b-buyerInfo__item.b-buyerInfo__item--4 #[b 100%] Secure Payments
						.b-tabs
							button.b-tabs__item Description
							button.b-tabs__item Shipping information
						.b-content
							.b-content__part.b-content__part--main
								.b-content__wrap
									.b-content__pics
										img.b-content__img(src="img/sidebar-img-1.jpg", alt="")
										img.b-content__img(src="img/sidebar-img-2.jpg", alt="")
									.b-content__main 
							.b-content__part.hide-on-mobile
								.b-content__wrap
									.b-content__main
										.b-content__section
											h2.b-content__title Description
											h2.b-content__caption Feature:
											ul.b-content__list
												li HD port TV Out.
												li TF Card (SDHC Class 10 up to 32GB).
												li Smaller size, easy to carry, easy use.
												li 4K Ultra-HD Definition.12.0 Megapixels.
												li Rechargeable 1050mAh Lithium Battery.
												li 2-inch TFT LCD.Live preview what you shoot.
												li A new way to view, share and store your footage.
												li Provide stunning video quality with 1080p at 60fps.
												li Multi-mode Camera. Fast to switch the mode while sporting.
												li Loop Recording. When the memory card is full, the machine will automatically delete the earlier
										.b-content__section
											h2.b-content__caption Note:
											p.b-content__text There is no adapter including the pachage. If you want the adapter, please click this link:
											p.b-content__text #[a(href="") http://www.banggood.com/EU-Charger-Adapter-for-EKEN-H9-H8-H8R-Sports-Camera-p-10588]
											p.b-content__text Thank you.
										.b-content__section
											h2.b-content__caption Package included:
											.b-content__table.b-table.b-table--columnOnMobile
												.b-table__tr
													.b-table__td 1 X EKEN H9 Sport Camera WiFi
													.b-table__td 1 X Waterproof Housing
													.b-table__td 1 X ProtectiveBackdoor
												.b-table__tr
													.b-table__td 7 X Mount
													.b-table__td 1 X Helmet Mount
													.b-table__td 1 X Bandages
												.b-table__tr
													.b-table__td 1 X Battery
													.b-table__td 1 X USB Cable
													.b-table__td 7 X User Manual
												.b-table__tr
													.b-table__td 1 X Handle Bar
													.b-table__td 1 X Tethers
													.b-table__td 1 X Metal Tether
												.b-table__tr
													.b-table__td 2 X Clip
										.b-content__section
											h2.b-content__caption Comments:
											.b-comments
												.b-comments__list
													.b-comments__item.b-feedback
														.b-feedback__section.b-feedback__section--profile
															img.b-feedback__ava(src="img/feedback-ava-1.jpg", alt="")
															p.b-feedback__name A***e
														.b-feedback__section.b-feedback__section--metrics
															.b-feedback__metrics.b-metrics
																.b-metrics__item.b-metrics__item--overall
																	p.b-metrics__name Overall:
																	.b-metrics__stars 
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																.b-metrics__item.b-metrics__item--price
																	p.b-metrics__name Price:
																	.b-metrics__stars 
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																.b-metrics__item.b-metrics__item--quality
																	p.b-metrics__name Quality:
																	.b-metrics__stars
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																.b-metrics__item.b-metrics__item--appearance
																	p.b-metrics__name Appearance:
																	.b-metrics__stars
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																.b-metrics__voites
																	b.b-metrics__name Helpfull?
																	.b-metrics__thumbs
																		span.b-metrics__likes (15)
																		span.b-metrics__dislikes (0)
														.b-feedback__section.b-feedback__section--tail
															p.b-feedback__lead Simple, good, cheep camera
															p.b-feedback__text it makes me feel like a professional photographer ))) Like it!
															p.b-feedback__date.js-date(data-days-from-today=5) #[span.b-feedback__time 19:35]
													.b-comments__item.b-feedback
														.b-feedback__section.b-feedback__section--profile
															img.b-feedback__ava(src="img/feedback-ava-2.jpg", alt="")
															p.b-feedback__name B***a
														.b-feedback__section.b-feedback__section--metrics
															.b-feedback__metrics.b-metrics
																.b-metrics__item.b-metrics__item--overall
																	p.b-metrics__name Overall:
																	.b-metrics__stars 
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star
																.b-metrics__item.b-metrics__item--price
																	p.b-metrics__name Price:
																	.b-metrics__stars 
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																.b-metrics__item.b-metrics__item--quality
																	p.b-metrics__name Quality:
																	.b-metrics__stars
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star
																.b-metrics__item.b-metrics__item--appearance
																	p.b-metrics__name Appearance:
																	.b-metrics__stars
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star
																.b-metrics__voites
																	b.b-metrics__name Helpfull?
																	.b-metrics__thumbs
																		span.b-metrics__likes (10)
																		span.b-metrics__dislikes (0)
														.b-feedback__section.b-feedback__section--tail
															p.b-feedback__lead I Recommend!!
															p.b-feedback__text Best choice for that money
															p.b-feedback__date.js-date(data-days-from-today=3) #[span.b-feedback__time 09:48]
													.b-comments__item.b-feedback
														.b-feedback__section.b-feedback__section--profile
															img.b-feedback__ava(src="img/feedback-ava-3.jpg", alt="")
															p.b-feedback__name F***x
														.b-feedback__section.b-feedback__section--metrics
															.b-feedback__metrics.b-metrics
																.b-metrics__item.b-metrics__item--overall
																	p.b-metrics__name Overall:
																	.b-metrics__stars 
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																.b-metrics__item.b-metrics__item--price
																	p.b-metrics__name Price:
																	.b-metrics__stars 
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star
																.b-metrics__item.b-metrics__item--quality
																	p.b-metrics__name Quality:
																	.b-metrics__stars
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star
																.b-metrics__item.b-metrics__item--appearance
																	p.b-metrics__name Appearance:
																	.b-metrics__stars
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star
																		span.b-metrics__star
																.b-metrics__voites
																	b.b-metrics__name Helpfull?
																	.b-metrics__thumbs
																		span.b-metrics__likes (9)
																		span.b-metrics__dislikes (1)
														.b-feedback__section.b-feedback__section--tail
															p.b-feedback__lead Camera didnt dissapoint
															p.b-feedback__text Very fast delievery, looks good
															.b-feedback__attachments
																img.b-feedback__pic(src="img/attachment-1.jpg", alt="")
															p.b-feedback__date.js-date(data-days-from-today=2) #[span.b-feedback__time 15:02]
													.b-comments__item.b-feedback
														.b-feedback__section.b-feedback__section--profile
															img.b-feedback__ava(src="img/feedback-ava-4.jpg", alt="")
															p.b-feedback__name J***n
														.b-feedback__section.b-feedback__section--metrics
															.b-feedback__metrics.b-metrics
																.b-metrics__item.b-metrics__item--overall
																	p.b-metrics__name Overall:
																	.b-metrics__stars 
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																.b-metrics__item.b-metrics__item--price
																	p.b-metrics__name Price:
																	.b-metrics__stars 
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																.b-metrics__item.b-metrics__item--quality
																	p.b-metrics__name Quality:
																	.b-metrics__stars
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																.b-metrics__item.b-metrics__item--appearance
																	p.b-metrics__name Appearance:
																	.b-metrics__stars
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																		span.b-metrics__star.selected
																.b-metrics__voites
																	b.b-metrics__name Helpfull?
																	.b-metrics__thumbs
																		span.b-metrics__likes (5)
																		span.b-metrics__dislikes (0)
														.b-feedback__section.b-feedback__section--tail
															p.b-feedback__lead good store, approve
															p.b-feedback__text I recommend! Fast delievery, good quality, best price! Thank you guys, I love you!!))
															.b-feedback__attachments
																img.b-feedback__pic(src="img/attachment-2.jpg", alt="")
															p.b-feedback__date.js-date(data-days-from-today=2) #[span.b-feedback__time 12:56]
												button.b-comments__btn Add review
							.b-content__part
								.b-content__wrap
									.b-content__main
										.b-content__section
											h2.b-content__title Shipping information
											h2.b-content__caption EU WAREHOUSE & UK FREE
											.b-content__marks
												span.b-content__mark Royal mail direct
												span.b-content__mark No taxes or tariffs
											p.b-content__text Exceptional prices shipped at a speed you won`t believe. Lightning fast delivery offers great speed to Europian Union Contries.
										.b-content__section
											.b-content__table.b-table
												.b-table__caption Shipping Time
												.b-table__tr
													.b-table__td United Kingdom
													.b-table__td 3-7 Business Days
													.b-table__td Free Shipping
												.b-table__tr
													.b-table__td Other Europian Union Countries
													.b-table__td 7-10 Business Days
													.b-table__td Fast Low Cost Shipping 
			.b-footer
				.container
					p.b-footer__text © #[span.ryear] Camerastarter. All rights reserved. #[a(href="") Terms of use.]
			#overlay
			.b-popup
				.b-popup__inner
					.b-popup__wrap
						.b-popup__header
							button.b-popup__close
							p.b-popup__caption Add review
						.b-popup__tail
							form(action="", method="POST").b-popup__formReview.b-formReview
								.b-formReview__item
									label.b-formReview__label(for="title") Caption:
									.b-formReview__wrap
										input(type="text", id="title", name="title").b-formReview__field
								.b-formReview__item
									label.b-formReview__label Overall:
									.b-formReview__wrap.b-formReview__stars
										input#rating15(type='radio', name='overall', value='5')
										label(for='rating15') 5
										input#rating14(type='radio', name='overall', value='4')
										label(for='rating14') 4
										input#rating13(type='radio', name='overall', value='3')
										label(for='rating13') 3
										input#rating12(type='radio', name='overall', value='2')
										label(for='rating12') 2
										input#rating11(type='radio', name='overall', value='1')
										label(for='rating11') 1
								.b-formReview__item
									label.b-formReview__label Price:
									.b-formReview__wrap.b-formReview__stars
										input#rating25(type='radio', name='price', value='5')
										label(for='rating25') 5
										input#rating24(type='radio', name='price', value='4')
										label(for='rating24') 4
										input#rating23(type='radio', name='price', value='3')
										label(for='rating23') 3
										input#rating22(type='radio', name='price', value='2')
										label(for='rating22') 2
										input#rating21(type='radio', name='price', value='1')
										label(for='rating21') 1
								.b-formReview__item
									label.b-formReview__label Quality:
									.b-formReview__wrap.b-formReview__stars
										input#rating35(type='radio', name='quality', value='5')
										label(for='rating35') 5
										input#rating34(type='radio', name='quality', value='4')
										label(for='rating34') 4
										input#rating33(type='radio', name='quality', value='3')
										label(for='rating33') 3
										input#rating32(type='radio', name='quality', value='2')
										label(for='rating32') 2
										input#rating31(type='radio', name='quality', value='1')
										label(for='rating31') 1
								.b-formReview__item
									label.b-formReview__label Appearance:
									.b-formReview__wrap.b-formReview__stars
										input#rating45(type='radio', name='appearance', value='5')
										label(for='rating45') 5
										input#rating44(type='radio', name='appearance', value='4')
										label(for='rating44') 4
										input#rating43(type='radio', name='appearance', value='3')
										label(for='rating43') 3
										input#rating42(type='radio', name='appearance', value='2')
										label(for='rating42') 2
										input#rating41(type='radio', name='appearance', value='1')
										label(for='rating41') 1
								.b-formReview__item.b-formReview__item--file
									span.b-formReview__label Add image:
									.b-formReview__wrap.b-formReview__upload
										label.b-formReview__addImg(for="files") Add more
										input(type="file", multiple, id="files", name="files").b-formReview__fileField
								.b-formReview__footer
									button.b-formReview__btn.b-btn.b-btn--buy Post Review
			.js-comment-template(style="display: none !important")
				.b-comments__item.b-feedback
					.b-feedback__section.b-feedback__section--profile
						img.b-feedback__ava(src="img/feedback-ava-anonim.png", alt="")
						p.b-feedback__name
					.b-feedback__section.b-feedback__section--metrics
						.b-feedback__metrics.b-metrics
							.b-metrics__item.b-metrics__item--overall
								p.b-metrics__name Overall:
								.b-metrics__stars 
									span.b-metrics__star
									span.b-metrics__star
									span.b-metrics__star
									span.b-metrics__star
									span.b-metrics__star
							.b-metrics__item.b-metrics__item--price
								p.b-metrics__name Price:
								.b-metrics__stars 
									span.b-metrics__star
									span.b-metrics__star
									span.b-metrics__star
									span.b-metrics__star
									span.b-metrics__star
							.b-metrics__item.b-metrics__item--quality
								p.b-metrics__name Quality:
								.b-metrics__stars
									span.b-metrics__star
									span.b-metrics__star
									span.b-metrics__star
									span.b-metrics__star
									span.b-metrics__star
							.b-metrics__item.b-metrics__item--appearance
								p.b-metrics__name Appearance:
								.b-metrics__stars
									span.b-metrics__star
									span.b-metrics__star
									span.b-metrics__star
									span.b-metrics__star
									span.b-metrics__star
							.b-metrics__voites
								b.b-metrics__name Helpfull?
								.b-metrics__thumbs
									span.b-metrics__likes (0)
									span.b-metrics__dislikes (0)
					.b-feedback__section.b-feedback__section--tail
						p.b-feedback__lead
						p.b-feedback__date
		script(src="js/slick.min.js")
		script(src="js/jquery.countdown.min.js")
		script(src="js/common.js")