doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:400,700")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="http://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.b-top
				.container
					.b-top__inner
						img.b-top__pic(src="img/product.jpg", alt="")
						p.b-top__title Wifi Sport Action Camera (4k 25fps, 1080p 60fps, 720p 120fps) New version
						span.b-top__price $79
						p.b-top__discount Discount #[b 50%]
						.b-top__timer.b-timer
							.b-timer__nums
								span.b-timer__section #[b.b-timer__num.b-timer__num--hours 00]  #[b.b-timer__sign Hour] 
								span.b-timer__section.b-timer__section--colon :
								span.b-timer__section #[b.b-timer__num.b-timer__num--mins 15]  #[b.b-timer__sign minutes] 
								span.b-timer__section.b-timer__section--colon :
								span.b-timer__section #[b.b-timer__num.b-timer__num--sec 00]  #[b.b-timer__sign Seconds]
						button.b-top__btn.b-btn.b-btn--buy
							span.b-btn__icon
							span.b-btn__text Buy it now
			.b-header
				img.b-header__icon(src="img/logo.png", alt="")
				p.b-header__title #[b Camera]Starter
			.b-title
				.container
					h1 Wifi Sport Action Camera (4k 25fps, 1080p 60fps, 720p 120fps) New version
			.b-main
				.container
					.b-main__inner
						.b-product
							.b-product__info
								.b-info
									.b-info__cost
										.b-cost
											p.b-cost__label Total price:
											.b-cost__prices
												span.b-cost__oldprice $199 
												span.b-cost__newprice $79
											span.b-cost__discount Discount #[b -50%]
									.b-info__timer.b-timer
										p.b-timer__text #[b Attention!] The discount wll expire after:
										.b-timer__nums
											span.b-timer__section #[b.b-timer__num.b-timer__num--hours 00]  #[b.b-timer__sign Hour] 
											span.b-timer__section.b-timer__section--colon :
											span.b-timer__section #[b.b-timer__num.b-timer__num--mins 15]  #[b.b-timer__sign minutes] 
											span.b-timer__section.b-timer__section--colon :
											span.b-timer__section #[b.b-timer__num.b-timer__num--sec 00]  #[b.b-timer__sign Seconds] 
									.b-info__coupon.b-coupon
										p.b-coupon__link Got a coupon code?
										.b-coupon__wrapper
											.b-coupon__left
												p.b-coupon__label Coupon: #[b.b-coupon__name lucky40]
												p.b-coupon__status Free shipping applied
											.b-coupon__right
												p.b-coupon__count shipping $0
									.b-info__colors.b-colors
										p.b-colors__label Color:
										.b-colors__list
											span.b-colors__item.b-colors__item--1.active Blue
											span.b-colors__item.b-colors__item--2 Red
											span.b-colors__item.b-colors__item--3 Green
									.b-info__quantity.b-quantity
										p.b-quantity__label Quantity: 
										.b-quantity__counter
											.b-counter(data-max="11")
												button.b-counter__minus
												b.b-counter__count 1
												button.b-counter__plus
										b.b-quantity__left  Only #[strong 11 items] left in stock
									.b-info__buttons
										button.b-btn.b-btn--buy
											span.b-btn__icon
											span.b-btn__text Buy it now
										button.b-btn.b-btn--paypal 
											span.b-btn__text Check out with
											span.b-btn__icon
							.b-product__gallery
								.b-gallery
									.b-gallery__list
										.b-gallery__item
											.b-gallery__wrap
												img(src="img/gallery-img-1.jpg", alt="")
										.b-gallery__item
											.b-gallery__wrap
												img(src="img/gallery-img-2.jpg", alt="")
										.b-gallery__item
											.b-gallery__wrap
												img(src="img/gallery-img-3.jpg", alt="")
										.b-gallery__item
											.b-gallery__wrap
												img(src="img/gallery-img-4.jpg", alt="")
									.b-gallery__thumbs
										.b-thumbs
											.b-thumbs__item.b-thumbs__item--video #[img(src="img/gallery-preview-1.jpg", alt="")]
											.b-thumbs__item #[img(src="img/gallery-preview-2.jpg", alt="")]
											.b-thumbs__item #[img(src="img/gallery-preview-3.jpg", alt="")]
											.b-thumbs__item #[img(src="img/gallery-preview-4.jpg", alt="")]
										button.b-gallery__next
						.b-buyerInfo
							.b-buyerInfo__inner
								p.b-buyerInfo__title Buyer #[br] Protection
								.b-buyerInfo__list
									p.b-buyerInfo__item.b-buyerInfo__item--1 #[b Full Refund] if you don`t receive your order
									p.b-buyerInfo__item.b-buyerInfo__item--3 #[b 100%] Money Back Guarantee
									p.b-buyerInfo__item.b-buyerInfo__item--2 #[b Refund & Keep] items, if not as described.
									p.b-buyerInfo__item.b-buyerInfo__item--4 #[b 100%] Secure Payments

		


















		script(src="js/slick.min.js")
		script(src="js/jquery.countdown.min.js")
		script(src="js/common.js")


